*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 14vh;
    margin:0;
    background-color: bisque;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo img{
    width: 20vw;
    height: 20vh;
    margin-top: -20px;
    margin-left: -20px;
}


.navbar ul{
    list-style: none;
    display: flex;
    margin-top: -20px;
    margin-right: 50px;
}
.navbar .navbar-list{
    display: none;
}

.navbar ul li{
    margin-left: 70px;
    font-size: 20px;
    font-weight: 600;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.navbar ul li a:hover{
    color:rgb(181, 84, 42);
}

.welcome{
    background-image: url(img/heo-image.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.welcome-text{
    text-align: center;
    padding: 20vh 0;
}

.welcome-text h2{
    font-size: 36px;
    margin-bottom: 10px;
}
.welcome-text p{
    font-size: 22px;
    margin-bottom: 10px;
}

.search-box{
    max-width: 550px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-box input{
    width: 70%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px 0 0 10px;
    font-size: 1rem;
}

.search-box button{
    padding: 10px 20px;
    background-color: red;
    border: red;
    color: white;
    border-radius: 0 10px 10px 0;
    font-size: 1rem;
    cursor: pointer;
}

.recipes{
    padding: 50px 0;
}

.recipes h1{
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}


.recipe-section{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.recipe-card{
    background-color: white;
    margin: 30px 0;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(117, 98, 98);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipe-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.recipe-card h2{
    font-size: 22px;
    padding: 20px;
}
.recipe-card p{
    font-size: 20px;
    padding: 0 20px 20px 20px;
}

.recipe-card a{
    text-decoration: none;
    display: block;
    background-color: hsl(0, 3%, 33%);
    color: white;
    text-align: center;
    padding: 15px 0;
}

footer{
    background-color:  hsl(0, 3%, 33%);
    color: white;
    padding: 20px 0;
    text-align: center;
}
.menu-icon{
    font-size: 24px;
    text-align: right;
    padding: 20px;
    cursor: pointer;
    display: block;
    margin-top: -15px;
}

@media only screen and (min-width:768px){
    .menu-icon{
        display: none;
    }
    .navbar .navbar-list{
        display: flex;
    }
}

@media only screen and (max-width:768px){
    .welcome-text h2{
        font-size: 24px;
    }

    .welcome-text p{
        font-size: 20px;
    }
}